[user]
    name = yungshin
    email = yungshin.chien@gmail.com
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    unstage = reset HEAD
    hist = log --graph --abbrev-commit --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s%C(green) (%cr) %C(bold blue)<%an>%C(reset)' --all
    type = cat-file -t
    dump = cat-file -p
[color]
    ui = true
[core]
    editor = vim
    autocrlf = input
